:root {
    /*Text color*/
    --basic-color: #2E2F42;
    --logo-web-color: #4D5AE5;
    --links-hover-color: #404BBF;
    --text-color: #434455;
    --portfolio-button-background-color: #F4F4FD;
}

/*reset*/
.style-reset {
    list-style: none;
    text-decoration: none;
}

/*hover*/
.links-hover:hover {
    color: var(--links-hover-color);
}

.hero-button:hover,
.topic-button:hover {
    background: var(--links-hover-color);
}

.topic-button:hover {
    color: #FFFFFF;
}
/**
  |============================
  | STUDIO index.html
  |============================
*/

/*==========BODY=============*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/*         /BODY             */

/*==========HEADER=============*/

/*           LOGO              */

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--basic-color);
}

.logo-web {
    color: var(--logo-web-color);
}

/*         /LOGO             */

/*        MENU ADDRESS       */
.menu-link,
.address-link,
.mailto-link,
 .fone-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--basic-color);
}

/*       /MENU ADDRESS       */

/*          /HEADER          */

/*==========MAIN=============*/

/*          HERO             */
.hero-title{
    font-family: inherit;
    font-size: 56px;
    line-height: 1;  
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {
    font-family: inherit;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    background: #4D5AE5;
}
/*         /HERO             */

/*          ABOUT            */

.about-title,
.man-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about-text,
.team-text{
    color: var(--text-color);
}
    
/*         /ABOUT            */

/*          EXAMPLE          */
.example-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.02em;
}
/*         /EXAMPLE          */

/*          TEAM          */

/*         /TEAM          */

/*           /MAIN           */

/*==========FOOTER=============*/
.footer-text{
    color: var(--portfolio-button-background-color);
}

/*         /FOOTER             */


/**
  |============================
  | PORTFOLIO portfolio.html
  |============================
*/

/*==========HEADER=============*/


/*         /HEADER             */

/*==========MAIN=============*/
/*          ABOUT            */
.topic-button {
    font-family: inherit;
    font-weight: 500;
    color: var(--logo-web-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    background: var(--portfolio-button-background-color);
}
/*          /ABOUT           */

/*          GALLERY            */
.gallery-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.gallery-text{
    color:var(--text-color);
}
/*          /GALLERY            */

/*         /MAIN             */

/*==========FOOTER=============*/


/*         /FOOTER             */